@font-face {
    font-family: "pixel";
    src: url("Minecraft.ttf");
}



* {
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: comic sans ms, cursive;
    height: 100vh;
    width: 100wh;
    background-image: url(img/bg_space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.nav {
    top: 0;
    position: sticky;
    padding: 50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    height: 100px;
    z-index: 100;
    background: inherit;
}

.nav a {
    color: white;
}

.nav .navlink ul {
    display: flex;
}

.nav .navlink ul li {
    margin: 0 25px;
    font-size: 1.5em;
}

nav .navlink ul li.off:hover {
    animation: bordeur 1s ease-in 0s infinite;
    padding: 5px;
}

@keyframes bordeur {
    0% {
        border-top: solid 4px #ffffff;
    }

    33% {
        border-right: solid 4px #ffffff;
    }

    66% {
        border-bottom: solid 4px #ffffff;
    }

    100% {
        border-left: solid 4px #ffffff;
    }
}

.nav .navlink ul li.on a {
    color: #e5f049;
    font-weight: 600px;
    border-bottom: solid 4px #e5f049;
}

.nav .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 35px;
    height: 35px;
}

/* _______________________Index_______________________*/
.pres {
    margin-bottom: auto;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pres .intro {
    width: auto;
    height: auto;
    display: flex;
    margin-right: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
}

.intro h1 {
    display: flex;
    color: #6a738c;
    font-size: 3.5em;
    text-decoration: underline;
}

.pres .perso {
    width: 185px;
    height: 390px;
    animation: float 6s ease-in-out 0s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.bt_credit{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: rgb(114, 7, 117);
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    bottom: 20px;
    z-index: 10;
}

.bt_credit:hover{
    background-color: rgb(156, 36, 236);
}

.bt_credit img{
    object-fit: fill;
    height: 50%;
    width: 50%;
}

.credits{
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

.credit #close_cr{
    position: sticky;
    background-color: #8723b6;
    color: #ffffff;
    text-align: center;
    top: 2%;
    margin-left: 90%;
    border-radius: 50%;
}

.credits .credit{
    height: 75%;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #8723b6 solid 1px;
    overflow: scroll;
    margin-top: 15px;
}

.credit .cred_list{
    flex-basis: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.cred_list img{
    max-height: 300px;
    max-width: 300px;
}
/* ______________________________________________*/
/* _______________________Project_______________________*/
.gallery {
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 10%;
    background-color: #ebb33c;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

.case {
    display: flex;
    flex-basis: 30%;
    height: 300px;
    margin: 50px;
    border: solid 12px transparent;
    border-top-color: var(--accent);
    flex-direction: column;
    align-items: center;
}

.case legend {
    padding: 0 6px;
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.case img {
    width: 100%;
    min-height: 250px;
    margin-bottom: 20px;
    object-fit: fill;
}

.case button {
    height: 50px;
    width: 100px;
    color: #ffffff;
    background-color: #8723b6;
    border-radius: 10px;
}

.case button:hover {
    color: #8723b6;
    background-color: #ffffff;
}

#myCanvas {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
}


/* _______________________competence   _______________________*/
.card_slide {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 200px;
    height: auto;
    width: 100%;
    max-height: 100vh;

}

.card_slide #tete {
    height: 80px;
    width: 90px;
    margin-top: -72px;
    z-index: 8;
}

.card_slide .card {
    display: flex;
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: all .3s ease-in;
}

.card_slide .card .pres {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.card .pres h1 {
    font-size: 2em;
    margin-top: 0px;
    text-align: center;
}

.card .pres .ul {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card .pres ul li {
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: -25px;
}

.card_slide .card:nth-child(1) {
    background: linear-gradient(45deg, #2D35EB 0%, #904ED4 100%);
}

.card_slide .card:nth-child(2) {
    background: linear-gradient(45deg, #6a226d 0%, #f31ff3 100%);
}

.card_slide .card:nth-child(3) {
    background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
}

.card_slide .card:nth-child(4) {
    background: linear-gradient(45deg, #3a3b3b 0%, #dee2e2 100%);
}

.card_slide .prev {
    transform: translateX(-40%) scale(.8);
    z-index: 3;
    filter: blur(1px);
}

.card_slide .active {
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
}

.card_slide .next {
    transform: translateX(40%) scale(.8);
    z-index: 3;
    filter: blur(1px);
}

.card_slide .button_cont {
    position: absolute;
    width: 80%;
    max-width: 650px;
    z-index: 6;
    margin-top: 175px;
    transition: all 300ms ease-in-out;
}

.button_cont .button {
    cursor: pointer;
    background-color: #22c0c3;
    font-size: 32px;
    position: relative;
    opacity: 0.6;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.button span {
    color: #ffffff;
}

.button_cont .button:hover {
    opacity: 1;
}


.button_cont .button:nth-child(1) {
    float: left;
}

.button_cont .button:nth-child(2) {
    float: right;
}


#back {
    margin-top: 50px;
    margin-left: 50px;
    background-color: #00ffff;
}

/* ______________________________________________*/

/* _______________________Hotel_______________________*/
.cadre {
    border-radius: 20px;
    position: relative;
    height: 80%;
    width: 80%;
    border: #3a3b3b solid 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.cadre .liste {
    width: 100%;
    position: absolute;
    height: 100%;
}

.liste .list {
    border-radius: 5%;
    width: 25%;
    border: #8723b6 2px solid;
    height: 95%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
}

.liste .list:nth-child(1) {
    float: left;
    margin-left: 25px;
}

.liste .list:nth-child(2) {
    float: right;
    margin-right: 25px;
}

.list span {
    margin-top: 5px;
    font-size: 2vw;
}

.list .lh {
    border: #8723b6 2px solid;
    margin-top: 10px;
    width: 95%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.lh .info {
    width: 100%;
    height: 20%;
    border: 1px solid;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.info #icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    max-height: 30px;
}

.info h4 {
    font-size: 1.2vw;
    margin-top: 0px;
    margin: 0px;
}

.info #icon img {
    display: block;
    max-width: 30px;
    width: 15%;
    margin-top: 0px;
}

.info #close {
    position: absolute;
    margin-top: 0px;
    margin-left: 80%;
    height: 20%;
}

.cadre .add {
    position: relative;
    height: 50%;
    width: 30%;
    border: #8723b6 2px solid;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.add #switch_b {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
    margin-top: 5px;
    border: #8723b6 1px solid;
    border-radius: 20px;
    display: flex;
}

#switch_b button {
    width: 50%;
    background-color: #ffffff;
    border: none;
    color: #8723b6;
    border-radius: 20px;
    transition: color ease-in 0.4;
}

#switch_b .active {
    /* width: 50%; */
    background-color: #8723b6;
    color: #ffffff;
}

.add .add_b {
    display: none;
    width: 95%;
    height: 80%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: #8723b6 1px solid;
    position: relative;
    flex-direction: column;

}

.add_b .info {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.add_b .info input[type="text"] {
    max-width: 300px;
    width: 40%;
}

.add_b .info div {
    margin-right: auto;
}

.add_b button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8723b6;
    border: #8723b6 solid 2px;
    background-color: #ffffff;
    margin-top: 5%;
}

.add_b button:hover {
    color: #ffffff;
    background-color: #8723b6;
}

/* ______________________________________________*/



/* ______________________Contact_________________*/

.mail_send{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left:-12.5%;
    background:#ffffff;
    bottom:0px;
    left:50%;
    width: 30%;
    height: 60%;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: solid 5px #ca7ceea2;
    border-bottom: none;
}

.mail_send .mail_form{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.mail_send .mail_form input{
    height: 30px;
    width: 95%;
}
.mail_send .mail_form textarea{
    height: 100%;
    width: 95%;
}
.mail_send .mail_form button{
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8723b6;
    background-color:#ffffff ;
    border-radius: 25px;
}

.mail_send .mail_form button:hover{
    color: #ffffff;
    background-color: #8723b6;
}
/* ______________________________________________*/
@media screen and (max-width:900px) {
    .nav {
        padding: 0;
    }

    .nav .menu {
        display: block;
    }

    .nav .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navlink {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
    }

    .mobile-menu {
        display: flex;
        margin-left: 0;
        transition: all 0.5s ease;
    }

    .navlink ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav .navlink ul li {
        margin: 25px 0;
        font-size: 1.5em;
    }

    .pres {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .pres .intro {
        margin-left: auto;
        margin-right: auto;
    }

    .pres .perso {
        width: 100px;
        height: 200px;

    }

    .add #switch_b {
        width: 95%;
    }

    .case legend {
        font-size: 5.5vw;
    }

    .case {
        flex-basis: 50%;
    }
}


@media screen and (max-width:500px) {
    .card_slide .prev {
        transform: translateX(-20%) scale(.6);
    }

    .card_slide .active {
        transform: scale(0.8);
    }

    .card_slide .next {
        transform: translateX(20%) scale(.6);
    }

    .card_slide {
        margin-top: 100px;
    }

    .card_slide #tete {
        height: 60px;
        width: 80px;
        margin-top: -15px;
    }

    .card_slide .card:nth-child(4) {
        transform: scale(0.8);
    }
}

@media screen and (max-height: 500px) {
    .pres .perso {
        width: 15%;
        height: 60%;
    }
}

@media (height < 600px),
(width < 600px) {
    .case button {
        display: none;
    }
}