@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Bitter', serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.section_container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* First section */
.section_container .section:nth-child(1){
    background: linear-gradient(#4CAF50, #2196F3);
}
.section_container .section:nth-child(2){
    background: linear-gradient(#FF9800, #FFEB3B);
}
.section_container .section:nth-child(3){
    background: linear-gradient(#9C27B0, #E91E63);

}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
}

.section h2{
    font-size: clamp(3vw, 50px, 3.5vw);
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.section .card_container{
    max-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
}

.card_container img{
     width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.card_container p{
    font-size: 20px;
    margin: 10px 0;
    color : white;
}
.card_container p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
}
.card_container p:nth-child(4){
    font-size: 15px;
    font-style: italic;
}

.section .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}

/* Second section */

.competence_container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
}

.competence_box{
    position: relative;
    max-width: 300px;
    aspect-ratio: 1/1;
    margin: 5px;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    padding: 5px;
    background-color: white;
}

.competence_box:nth-child(1){
    box-shadow:
    -50px -50px 10px -40px rgb(247, 141, 20),
    50px 50px 10px -40px rgb(247, 141, 20);
}
.competence_box:nth-child(2){
    box-shadow:
    -50px -50px 10px -40px rgb(43, 115, 248),
    50px 50px 10px -40px rgb(43, 115, 248);
}
.competence_box:nth-child(3){
    box-shadow:
    -50px -50px 10px -40px rgb(101, 243, 58),
    50px 50px 10px -40px rgb(101, 243, 58);
}
.competence_box .front_competence{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s all ease-in-out;
}
.topText{
    font-size: 30px;
    font-weight: bolder;
    margin: 5px;
}
.bottomText{
    font-size: clamp(20px, 10px,  25px);
    margin: 10px 5px;
    color: black;
}
.competence_box .front_competence i{
    font-size: 100px;
}
.competence_box:nth-child(1) .front_competence, .topText:nth-child(1){ 
    color : rgb(247, 141, 20);
}
.competence_box:nth-child(2)  .front_competence, .competence_box:nth-child(2) .topText{ 
    color : rgb(43, 115, 248);
}
.competence_box:nth-child(3) .front_competence, .competence_box:nth-child(3) .topText{ 
    color : rgb(101, 243, 58);
}
.competence_box .back_competence{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
    transition: 0.3s all ease-in-out;
}   

.activeBox .front_competence{
    transform: translateY(-100%);
}
.activeBox .back_competence{
    transform: translateY(0);
}


/* Third section */

.projet_container{
    width: 300px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projet{
    position: absolute;
    max-width: 300px;
    width: 100%;
    aspect-ratio: 1/1.5;
    border: 5px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.projet .img_container{
    display: flex;
    justify-content: center;
    height: 50%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px;
    background-color: antiquewhite;
}

.projet h3, & p{
    text-align: center;
    font-size: 25px;
    color: white;
}

.projet:nth-child(1) {
    background: linear-gradient(to right, #4A90E2, #9013FE);
 
}

.projet:nth-child(2){
    background: linear-gradient(to right,#FFEB3B, #9013FE);
 
}

.projet:nth-child(3){
    background: linear-gradient(to right, #4A90E2, #FFEB3B);
}

.projet_container .front{
    scale: 1;
    z-index: 10;
    box-shadow: 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.projet_container .left{
    scale: 0.8;
    transform: translateX(-100%);
}

.projet_container .right{
    scale: 0.8;
    transform: translateX(100%);
}

.projet .btn{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: #9013FE;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    transition: 0.3s all ease-in-out;
    font-size: large;
    font-weight: 600;
    display: none;
}

.projet .btn:hover{
    background-color: #4A90E2;
}

.front .btn{
    display: block;
}

@media screen and (max-width: 960px) {

    .projet{
        height: 70%;
    }
    .competence_box{
        max-width: 250px;
    }

    .projet_container .front{
        scale: 0.8;
        z-index: 10;
        box-shadow: 0px 30px 0px rgba(0, 0, 0, 0.5);
    }
    
    .projet_container .left{
        scale: 0.6;
        transform: translateX(-70%);
    }
    
    .projet_container .right{
        scale: 0.6;
        transform: translateX(70%);
    }
}
@media screen and (max-width: 600px) {
    .competence_box{
        max-width: 200px;
    }
    .section .wave{
        height: 50px;
    }

}

@media  screen and (max-width: 450px) {

    
    .projet_container .left{
        scale: 0.6;
        transform: translateX(-50%);
    }
    
    .projet_container .right{
        scale: 0.6;
        transform: translateX(50%);
    }
}